.bodyPages   {
    display: flex;
    justify-content: space-around;
}


@media (max-width: 600px) {
    .bodyPages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  