
.transaction-history {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.87);
    padding: 20px;
} 

.content-transaction {
    max-height: 30vh;
    overflow-y: scroll;
}

.content-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
 
.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filters {
    padding: 5px;
    background-color: #2196F3;
    outline: none;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin: 1em;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

.filters:hover {
    background-color: #0B7AD5;
}

.filter-revenues {
    background-color: #2ea043;
}

.filter-revenues:hover {
    background-color: #348637;
}

.filter-expenses{
    background-color: rgb(229,61,47);
}

.filter-expenses:hover {
    background-color: #DA2B1B;
}

.filter-debts {
    background-color: #00796B;
}

.filter-debts:hover {
    background-color: #005248;
}

.title {
    text-align: center;
    font-weight: 400;
}

.content-tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #F8F8F8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.content-tab p {
    text-align: center;
    width: 20%;
}

@media (max-width: 900px) {

    .content-filter {
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .content-transaction {
        max-height: 30vh;
    }

    .content-tab p {
        width: 35%;
    }

}

@media (max-width: 510px) {
    .content-tab {
        display: none;
    }
    .filters {
        margin: 10px;
    }
    .content-transaction {
        border-top: 1px solid rgba(0, 0, 0, 0.4);
    }
}