
.transaction-history {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.87);
    padding: 20px;
} 

.content-transaction {
    max-height: 30vh;
    overflow-y: scroll;
}

.content-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
 
.btns {
    display: flex;
    justify-content: center;
}

.filtros {
    padding: 5px;
    background-color: #348637;
    outline: none;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin: 20px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

.filtros:hover {
    background-color: #2ea043;
}

.filtroEgr{
    background-color: rgb(229,61,40);
}

.filtroEgr:hover {
    background-color: rgb(229,61,47);
}

.title {
    text-align: center;
    font-weight: 400;
}

.content-tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #F8F8F8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.content-tab p {
    text-align: center;
    width: 20%;
}

@media (max-width: 600px) {
    .transactionHistory {
        padding: 20px;
        max-height: 100vh;
        width: 90%;
        color: #fff;
    }

    .content-filter {
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .content-transaction {
        max-height: 30vh;
    }

    .content-tab p {
        width: 35%;
    }
}