.modal {
    position: absolute;
    min-width: 600px;
    padding: 16px 32px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #222;
    border-radius: 10px;
    background-color: aliceblue;
}

.form-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-edit {
    width: 90%;
    margin: 10px 50px 10px 50px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

.contenet-button {
    display: flex;
    width: 100%;
}

.btn-edit {
    width: 60%;
    margin: 10px 20px 10px 20px;
    padding: 10px;
}




