.content-balance { 
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-current-balance {
    width: 20%;
}

.current-balance {
    display: none;
}

.current-balance-open {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin-top: 2em;
}

.current-balance-open h4 {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: #2196F3;
}

.icon-tdc {
    color: #00796B;
}

.icon-up {
    color: rgb(93,192,97);
}

.icon-down {
    color: rgb(229,61,47);
}

.content-graph-form   {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    height: 40%;
}

.graph {
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1050px) {

    .content-item-balance {
        width: 90%;
        margin: 10px;
    }

    .content-item-balance:hover {
        transform: unset;
    }
}