.transaction {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 450ms;
    width: 100%;
    margin: auto;
}

.transaction p {
    width: 20%;
    text-align: center;
    font-weight: 900;
}
 
.btn {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: large;
    color: rgba(0, 0, 0, 0.54);
    height: 30px;
    margin-left: 1em;
    cursor: pointer;
}

.buttons-content {
    width: 20%;
    text-align: center;
}

.btn:hover {
    color: #292929;
}

@media (max-width: 600px) {
    .transaction p {
        width: 35%;
    }
  }
  
