.transaction {
    border: 1px solid #222222;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    transition: 450ms;
    width: 400px;
    margin-left: 15px;
}

.transaction p {
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.edit:hover{
    text-decoration: underline;
}

.transaction:hover {
    transform: translate3d(10px, 0, 0);
    border-color: white;
}

.btn {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: large;
    color: #fff;
    height: 30px;
    margin-top: 9.5px;
    transition: 400ms;
    padding: 5px;
}

.btn:hover {
    text-decoration: underline;
    display: block;
    transform: rotate3d(1, 2.0, 3.0, 360deg);
}
