.transaction {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 450ms;
    width: 100%;
    margin: auto;
}

.transaction p {
    width: 20%;
    text-align: center;
    font-weight: 900;
}
 
.btn {
    outline: none;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.54);
    height: 30px;
    margin-left: 1em;
    cursor: pointer;
}

.btn p {
    display: none;
}

.buttons-content {
    width: 20%;
    text-align: center;
}

.btn:hover {
    color: #292929;
}

@media (max-width: 510px) {
    .transaction {
        flex-direction: column;
    }

    .transaction p {
        margin: 10px;
    }

    .buttons-content {
        display: flex;
        justify-content: center;
        margin-bottom: 10px ;
    }

    .btn {
        display: flex;
        align-items: center;
    }

    .btn p {
        display: flex;
    }
  }
  
