
/*------------------------------- Estilos de los formularios en ventanas modales ---------------------------- */

.content-form {
    background-color: rgba(14, 12, 12, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.form-modal {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 2em;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    max-height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* ----------------- Estilos de formularios de login y registro --------------- */

.container__form {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
}

.title-form {
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0px;
    text-align: center;
}

.icon {
    color: #2196F3;
}

.input {
    border: 0.5px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    margin: 10px;
    transition: 350ms;
}

.input:hover {
    transform: scale(1.025);
}

.btn-init {
    background-color: #2196F3;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    outline: none;
    width: 40%;
    margin: auto;
}

.btn-init:hover {
    background-color: #0B7AD5;
}

.signup {
    text-align: center;
}

.signup span {
    color: #0B7AD5;
    font-style: italic;
    text-decoration: none;
    margin-left: 10px;
}

.signup span:hover {
    text-decoration: underline;
}

.btn-cancel {
    background-color:rgb(229,61,47);
}

.btn-cancel:hover {
    background-color: #DA2B1B;
}

/*-------------------------------- checkbox -----------------------------------*/

.content-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 20px 0;
}

.checkbox {
    display: flex;
}

@media (max-width: 850px) {
    .form-modal {
        width: 70%;
        padding: 30px;
        border-radius: 7px;
        margin: 0px;
        max-height: 300px;
    }
}

