.content-form {
    background-color: rgba(14, 12, 12, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 2em;
    border-radius: 7px;
    background-color: rgb(34,34,34);
    border: 2px solid rgb(41,41,41);
    max-height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
}

.input {
    border: 0.5px solid gray;
    padding: 10px; 
    border-radius: 5px;
    outline: none;
    background-color: rgb(33,38,45);
    transition: 350ms;
    color: rgba(255, 255, 255, 0.425);
    margin-bottom: 10px;
}

.description {
    padding: 10px 10px 40px 10px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
    border: 0.5px solid gray;
    background-color: rgb(33,38,45);
    transition: 200ms;
    color: rgba(255, 255, 255, 0.425);
}

.description:hover {
    transform: scale(1.025);
}

.content-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button {
    padding: 10px;
    background-color: #348637;
    outline: none;
    border-radius: 10px;
    border: none;
    color: #fff;
    width: 40%;
}

.button:hover {
    background-color: #2ea043; 
}

.btn-cancel {
    background-color: rgb(229,61,47, 0.5);
}

.btn-cancel:hover {
    background-color: rgb(229,61,47);
}

/*-------------------------------- checkbox -----------------------------------*/

.content-checkbox {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 20px 0;
}

.checkbox {
    display: flex;
}

.checkbox button {
    margin: 0 10px 0 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 600px) {
    .form {
        width: 70%;
        padding: 30px;
        border-radius: 7px;
        background-color: rgb(34,34,34);
        border: 2px solid rgb(41,41,41);
        margin: 0px;
        max-height: 300px;
    }
}